<div class="app-sidebar sidebar-slide-left">
  <div class="text-right">
    <button type="button" class="btn btn-sidebar" data-dismiss="sidebar">
      <span class="x"></span>
    </button>
  </div>
  <div class="sidebar-header">
    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      class="user-photo" alt="Angular Validate br">
    <p class="username">Angular Validate Br
      <br>
      <small>Library</small>
    </p>
  </div>
  <ul id="sidebar-nav" class="sidebar-nav">
    <li class="sidebar-nav-btn">
      <a href="../../index.html" class="btn btn-block btn-outline-light">Get started</a>
    </li>
    <li class="sidebar-nav-group">
      <a href="#content" class="sidebar-nav-link collapsed" data-toggle="collapse" aria-expanded="false">
        <i class="icon-doc"></i> Content</a>
      <ul id="content" class="collapse" data-parent="#sidebar-nav" style="">
        <li>
          <a href="../../pages/content/blank-page.html" class="sidebar-nav-link">Blank page</a>
        </li>
        <li>
          <a href="../../pages/content/details-page.html" class="sidebar-nav-link">Details page</a>
        </li>
        <li>
          <a href="../../pages/content/dashboard.html" class="sidebar-nav-link">Dashboard</a>
        </li>
        <li>
          <a href="../../pages/content/error-404.html" class="sidebar-nav-link">Error 404</a>
        </li>
        <li>
          <a href="../../pages/content/error-500.html" class="sidebar-nav-link">Error 500</a>
        </li>
        <li>
          <a href="../../pages/content/timeline.html" class="sidebar-nav-link">Timeline</a>
        </li>
      </ul>
    </li>
    <li class="sidebar-nav-group">
      <a href="#device-controls" class="sidebar-nav-link" data-toggle="collapse">
        <i class="icon-screen-tablet"></i> Device controls</a>
      <ul id="device-controls" class="collapse" data-parent="#sidebar-nav">
        <li>
          <a href="../../pages/device-controls/camera.html" class="sidebar-nav-link">Camera</a>
        </li>
        <li>
          <a href="../../pages/device-controls/file-manager.html" class="sidebar-nav-link">File manager</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a href="../../pages/content/chat.html" data-toggle="tooltip" title="" data-original-title="Support">
      <i class="fa fa-comment"></i>
    </a>
    <a href="../../pages/content/settings.html" data-toggle="tooltip" title="" data-original-title="Settings">
      <i class="fa fa-cog"></i>
    </a>
    <a href="../../pages/content/signin.html" data-toggle="tooltip" title="" data-original-title="Logout">
      <i class="fa fa-power-off"></i>
    </a>
  </div>
</div>
